flow using auto ai.json
[{"id":"35250e62.765b42","type":"tab","label":"life expectancy auto ai","disabled":false,"info":""},{"id":"187d06ef.6168e9","type":"ui_form","z":"35250e62.765b42","name":"","label":"","group":"974bfa0e.e1cd38","order":2,"width":0,"height":0,"options":[{"label":"country","value":"con","type":"text","required":true,"rows":null},{"label":"country_code","value":"ccd","type":"text","required":true,"rows":null},{"label":"region","value":"rg","type":"text","required":true,"rows":null},{"label":"income_group","value":"ig","type":"text","required":true,"rows":null},{"label":"year","value":"yr","type":"number","required":true,"rows":null},{"label":"adult _mortality","value":"am","type":"number","required":true,"rows":null},{"label":"infant deaths","value":"id","type":"number","required":true,"rows":null},{"label":"alcohol","value":"alc","type":"number","required":true,"rows":null},{"label":"Income_composition_of_resources","value":"inc","type":"number","required":true,"rows":null},{"label":"bmi","value":"bmi","type":"number","required":true,"rows":null},{"label":"schooling","value":"sch","type":"number","required":true,"rows":null}],"formValue":{"con":"","ccd":"","rg":"","ig":"","yr":"","am":"","id":"","alc":"","inc":"","bmi":"","sch":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":80,"y":240,"wires":[["f8f812c9.555f3"]]},{"id":"f8f812c9.555f3","type":"function","z":"35250e62.765b42","name":"","func":"global.set(\"country\",msg.payload.con)\nglobal.set(\"country_code\",msg.payload.ccd)\nglobal.set(\"region\",msg.payload.rg)\nglobal.set(\"income_group\",msg.payload.ig)\nglobal.set(\"year\",msg.payload.yr)\nglobal.set(\"adult_mortality\",msg.payload.am)\nglobal.set(\"infant_deaths\",msg.payload.id)\nglobal.set(\"alcohol\",msg.payload.alc)\nglobal.set(\"Income_composition_of_resources\",msg.payload.inc)\nglobal.set(\"bmi\",msg.payload.bmi)\nglobal.set(\"schooling\",msg.payload.sch)\nvar apikey=\"5RPC0kRJQDpHbfcicaYa94UdGBvxehd88cB-2-74EVCl\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":160,"wires":[["4ffa6509.8c8dbc"]]},{"id":"e8f77d28.7148f","type":"function","z":"35250e62.765b42","name":"","func":"var con = global.get('country')\nvar ccd = global.get('country_code')\nvar rg = global.get('region')\nvar ig = global.get('income_group')\nvar yr = global.get('year')\nvar am = global.get('adult_mortality')\nvar id = global.get('infant_deaths')\nvar alc = global.get('alcohol')\nvar inc = global.get('Income_composition_of_resources')\nvar bmi = global.get('bmi')\nvar sch = global.get('schooling')\nvar State = global.get('State')\nvar token=msg.payload.access_token\nvar instance_id=\"65034068-3097-4b7c-88bd-77f7cf00939e\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"country\", \"country_code\", \"region\", \"income_group\", \"year\", \"adult _mortality\", \"infant deaths\", \"alcohol\", \"Income_composition_of_resources\", \"bmi\", \"schooling\"], \"values\": [[con,ccd,rg,ig,yr,am,id,alc,inc,bmi,sch]]}]}\nreturn msg;\n\n","outputs":1,"noerr":0,"x":410,"y":200,"wires":[["9125edaf.5c986"]]},{"id":"7250b4c5.4d557c","type":"function","z":"35250e62.765b42","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nglobal.set(\"output\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":160,"wires":[["93b79b07.ba24a8"]]},{"id":"93b79b07.ba24a8","type":"ui_text","z":"35250e62.765b42","group":"974bfa0e.e1cd38","order":1,"width":0,"height":0,"name":"","label":"predtiction","format":"{{msg.payload}}","layout":"row-spread","x":800,"y":100,"wires":[]},{"id":"4ffa6509.8c8dbc","type":"http request","z":"35250e62.765b42","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":330,"y":100,"wires":[["e8f77d28.7148f"]]},{"id":"9125edaf.5c986","type":"http request","z":"35250e62.765b42","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/9f60ce35-68d6-47cd-b8fa-3ad153d45e7f/predictions","tls":"","persist":false,"proxy":"","authType":"","x":550,"y":260,"wires":[["7250b4c5.4d557c"]]},{"id":"974bfa0e.e1cd38","type":"ui_group","z":"","name":"Life_Expectancy_using_autoai","tab":"aac47cef.a2e88","order":1,"disp":true,"width":"6","collapse":false},{"id":"aac47cef.a2e88","type":"ui_tab","z":"","name":"smartinternz_internship","icon":"dashboard","disabled":false,"hidden":false}]