flow using python.json
[{"id":"989f8954.b6e608","type":"tab","label":"Life_Expectancy_Using_Notebook","disabled":false,"info":""},{"id":"e617a817.9fe438","type":"ui_form","z":"989f8954.b6e608","name":"","label":"","group":"50910309.6dc55c","order":2,"width":0,"height":0,"options":[{"label":"country","value":"con","type":"text","required":true,"rows":null},{"label":"country_code","value":"ccd","type":"text","required":true,"rows":null},{"label":"region","value":"rg","type":"text","required":true,"rows":null},{"label":"income_group","value":"ig","type":"text","required":true,"rows":null},{"label":"year","value":"yr","type":"number","required":true,"rows":null},{"label":"adult _mortality","value":"am","type":"number","required":true,"rows":null},{"label":"infant deaths","value":"id","type":"number","required":true,"rows":null},{"label":"alcohol","value":"alc","type":"number","required":true,"rows":null},{"label":"Income_composition_of_resources","value":"inc","type":"number","required":true,"rows":null},{"label":"bmi","value":"bmi","type":"number","required":true,"rows":null},{"label":"schooling","value":"sch","type":"number","required":true,"rows":null}],"formValue":{"con":"","ccd":"","rg":"","ig":"","yr":"","am":"","id":"","alc":"","inc":"","bmi":"","sch":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":110,"y":320,"wires":[["617b9a9c.9ce614"]]},{"id":"617b9a9c.9ce614","type":"function","z":"989f8954.b6e608","name":"","func":"global.set(\"country\",msg.payload.con)\nglobal.set(\"country_code\",msg.payload.ccd)\nglobal.set(\"region\",msg.payload.rg)\nglobal.set(\"income_group\",msg.payload.ig)\nglobal.set(\"year\",msg.payload.yr)\nglobal.set(\"adult_mortality\",msg.payload.am)\nglobal.set(\"infant_deaths\",msg.payload.id)\nglobal.set(\"alcohol\",msg.payload.alc)\nglobal.set(\"Income_composition_of_resources\",msg.payload.inc)\nglobal.set(\"bmi\",msg.payload.bmi)\nglobal.set(\"schooling\",msg.payload.sch)\nvar apikey=\"5RPC0kRJQDpHbfcicaYa94UdGBvxehd88cB-2-74EVCl\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":240,"wires":[["b6600e16.6fdc8"]]},{"id":"6a9647dc.89d7a8","type":"function","z":"989f8954.b6e608","name":"","func":"var con = global.get('country')\nvar ccd = global.get('country_code')\nvar rg = global.get('region')\nvar ig = global.get('income_group')\nvar yr = global.get('year')\nvar am = global.get('adult_mortality')\nvar id = global.get('infant_deaths')\nvar alc = global.get('alcohol')\nvar inc = global.get('Income_composition_of_resources')\nvar bmi = global.get('bmi')\nvar sch = global.get('schooling')\nvar State = global.get('State')\nvar token=msg.payload.access_token\nvar instance_id=\"65034068-3097-4b7c-88bd-77f7cf00939e\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"country\", \"country_code\", \"region\", \"income_group\", \"year\", \"adult _mortality\", \"infant deaths\", \"alcohol\", \"Income_composition_of_resources\", \"bmi\", \"schooling\"], \"values\": [[con,ccd,rg,ig,yr,am,id,alc,inc,bmi,sch]]}]}\nreturn msg;\n\n","outputs":1,"noerr":0,"x":440,"y":280,"wires":[["cb2cb46b.a6b578"]]},{"id":"bbd3fd60.c0779","type":"function","z":"989f8954.b6e608","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nglobal.set(\"output\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":240,"wires":[["48f43400.d3f1ac"]]},{"id":"48f43400.d3f1ac","type":"ui_text","z":"989f8954.b6e608","group":"50910309.6dc55c","order":1,"width":0,"height":0,"name":"","label":"predtiction","format":"{{msg.payload}}","layout":"row-spread","x":830,"y":180,"wires":[]},{"id":"b6600e16.6fdc8","type":"http request","z":"989f8954.b6e608","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":360,"y":180,"wires":[["6a9647dc.89d7a8"]]},{"id":"cb2cb46b.a6b578","type":"http request","z":"989f8954.b6e608","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/65034068-3097-4b7c-88bd-77f7cf00939e/deployments/49f88f4a-24b1-4a68-8164-a44756298839/online","tls":"","persist":false,"proxy":"","authType":"basic","x":580,"y":340,"wires":[["bbd3fd60.c0779"]]},{"id":"50910309.6dc55c","type":"ui_group","z":"","name":"life_expectancy_using_notebook","tab":"985f5532.962fd8","order":1,"disp":true,"width":"6","collapse":false},{"id":"985f5532.962fd8","type":"ui_tab","z":"","name":"smartinternz","icon":"dashboard","order":2,"disabled":false,"hidden":false}]